@import "./base.css";

body {
  width: 100%;
}

#app {
  display: flex;
  height: 100vh;
  margin: 0.5rem;
  align-items: center;
  flex-direction: column;
}

nav img {
  width: 150px;
  height: 150px;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: larger;
}
nav div {
  display: flex;
  gap: 1rem;
}
nav a {
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
}
nav a:hover {
  transition: 200ms;
  background-color: var(--vt-c-text-dark-2);
}

a {
  text-decoration: none;
  color: var(--vt-c-text-dark-2);
}
